## Make and index some data in Python
Creating vectors, and a pandas DataFrame, some low-key indexing

In [1]:
import numpy as np
import pandas as pd

In [3]:
teddy = [1, 2, 8]
type(teddy)

khora = [10, 20, 1000]
type(khora)

teddy + khora

[1, 2, 8, 10, 20, 1000]

In [5]:
teddy_vec = np.array(teddy)
type(teddy_vec)

teddy_vec

array([1, 2, 8])

In [6]:
teddy[1]

2

In [7]:
teddy[1] = 5000

In [8]:
teddy

[1, 5000, 8]

In [10]:
test = (1, 2, 8)
test[1] = 4

TypeError: 'tuple' object does not support item assignment

In [15]:
waffle = [2.9, "a burrito", [0,1,15]]

In [12]:
waffle

[2, 'a burrito', [0, 1, 15]]

In [13]:
waffle[2]

[0, 1, 15]

In [16]:
type(waffle[0])

float

In [17]:
waffle[0] = "It's Tuesday"

In [18]:
waffle

["It's Tuesday", 'a burrito', [0, 1, 15]]

In [19]:
cows = {'name' : ["moo", "spots", "happy"], 
        'location' : ["pasture", "prarie", "barn"]}

In [20]:
cows

{'name': ['moo', 'spots', 'happy'], 'location': ['pasture', 'prarie', 'barn']}

In [21]:
cows_df = pd.DataFrame(cows)

In [22]:
cows_df

    name location
0    moo  pasture
1  spots   prarie
2  happy     barn